<a href="https://colab.research.google.com/github/se-won-do/python-class/blob/main/lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![레모네이드](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx1R7G_knIP-E_kJA128YI1nVuVB2R3xVaJl_4t35JPUVoQY8M)


- 문제: 매일 버리거나 남는 레몬이 있음. 레몬 에이드 판매량을 예측해 봅시다.

##01. 데이터 불러오기 및 분할

In [14]:
# pandas 패키지를 pd 이름으로 import 한다.
import pandas as pd

# 레모네이드 csv를 읽어들여서 변수 df에 담는다.
#df = pd.read_csv('/content/drive/MyDrive/20220126/lemonade.csv')
df = pd.read_csv('/content/drive/MyDrive/20220126/lemonade.csv',index_col=0)

In [15]:
# df의 첫5개 행을 출력한다.
print(df.head()) #default 5

     온도  휴일  불쾌지수  판매량
0  14.3   1  매우나쁨  151
1  14.5   0  매우나쁨  118
2  18.2   0  매우나쁨  149
3  20.2   0  매우나쁨  160
4  19.7   0  매우나쁨  160

In [ ]:
# df의 shape를 확인한다. (126, 3)
print(df.shape)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  126 non-null    int64
 1   온도          126 non-null    float64
 2   휴일          126 non-null    int64
 3   불쾌지수        126 non-null    object
 4   판매량         126 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 5.0+ KB
None

In [16]:
# 1, 2번째 칼럼(temperature, holiday)을 x_input 변수에 담는다.
x_input = df.iloc[:, :2]

# x_input의 shape를 확인한다. (126, 2)
print(x_input.shape)
print(x_input.head())

(126, 2)
     온도  휴일
0  14.3   1
1  14.5   0
2  18.2   0
3  20.2   0
4  19.7   0

In [23]:
# 3번째 칼럼(lemonade)을 y_input 변수에 담는다.
y_label = df.iloc[:, 3:]

# y_input의 shape를 확인한다. (126, 1)
print(y_label.shape)

(126, 1)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_input, 

                                                    y_label , 

                                                    test_size=0.4, 

                                                    shuffle=False, 

                                                    random_state=42)



print('X_train shape:', X_train.shape)

print('X_test shape:', X_test.shape)

print('y_train shape:', y_train.shape)

print('y_test shape:', y_test.shape)

X_train shape: (75, 2)
X_test shape: (51, 2)
y_train shape: (75, 1)
y_test shape: (51, 1)

##02. 모델 적용

In [32]:
from sklearn.linear_model import LinearRegression


# 모델 생성 및 선택
model=LinearRegression()

# 학습
model.fit(X_train, y_train)

# 평가

train_score=model.score(X_train, y_train) #accurarcy
print("train score=",train_score)
y_pred = model.predict(X_train)
#print(y_pred) #예측값 확인
test_score= model.score(X_test, y_test)
print("test score=",test_score)

train score= 0.9495197045949882
test score= 0.9124153633376346

##02.데이터 전처리

In [42]:
# pandas 패키지를 pd 이름으로 import 한다.
import pandas as pd

# 레모네이드 csv를 읽어들여서 변수 df에 담는다.
#df = pd.read_csv('/content/drive/MyDrive/20220126/lemonade.csv')
df = pd.read_csv('/content/drive/MyDrive/20220126/lemonade.csv',index_col=0)

x = df.iloc[:, :2]
y_label = df.iloc[:, 3:]
df_dummy=pd.get_dummies(df['불쾌지수'])
x_input=pd.concat([x,df_dummy],axis=1)

In [37]:
print(df.head())

     온도  휴일  불쾌지수  판매량
0  14.3   1  매우나쁨  151
1  14.5   0  매우나쁨  118
2  18.2   0  매우나쁨  149
3  20.2   0  매우나쁨  160
4  19.7   0  매우나쁨  160

In [39]:
print(df_dummy.head())

   나쁨  매우나쁨  보통  쾌적
0   0     1   0   0
1   0     1   0   0
2   0     1   0   0
3   0     1   0   0
4   0     1   0   0

In [41]:
x_input.head()

     온도  휴일  나쁨  매우나쁨  보통  쾌적
0  14.3   1   0     1   0   0
1  14.5   0   0     1   0   0
2  18.2   0   0     1   0   0
3  20.2   0   0     1   0   0
4  19.7   0   0     1   0   0

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_input, 

                                                    y_label , 

                                                    test_size=0.4, 

                                                    shuffle=False, 

                                                    random_state=42)



print('X_train shape:', X_train.shape)

print('X_test shape:', X_test.shape)

print('y_train shape:', y_train.shape)

print('y_test shape:', y_test.shape)

X_train shape: (75, 6)
X_test shape: (51, 6)
y_train shape: (75, 1)
y_test shape: (51, 1)

In [44]:
from sklearn.linear_model import LinearRegression


# 모델 생성 및 선택
model=LinearRegression()

# 학습
model.fit(X_train, y_train)

# 평가

train_score=model.score(X_train, y_train) #accurarcy
print("train score=",train_score)
y_pred = model.predict(X_train)
#print(y_pred) #예측값 확인
test_score= model.score(X_test, y_test)
print("test score=",test_score)

train score= 0.9502080518804769
test score= 0.9144161319826865